<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="./overview" routerLinkActive="active">
        <mat-icon>dashboard</mat-icon>
        <span>Tableau de bord</span>
      </a>
      <a mat-list-item routerLink="./doctor-verifications" routerLinkActive="active">
        <mat-icon>verified_user</mat-icon>
        <span>Vérifications médecins</span>
      </a>
      <!-- Add other admin navigation items here -->
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Administration Molarisse</span>
    </mat-toolbar>
    <!-- Main content -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container> 